:host {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f1f1f1;
}

.container {
  width: 300px;
  height: 300px;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.btn {
  width: 80%;
  padding: 10px;
  margin: 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background: #3498db;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  transition: transform .5s; /* Adiciona a transição */

  .grao {
    margin: 0px;
    width: 40px;
    position: relative;
    top: 0;
    left: 0;
    transition: transform .5s; /* Adiciona a transição */
  }

  .text {
    margin: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
  }
}

.btn:hover {
  background: #207c0b;
  transform: scale(1.1); /* Aplica a escala no hover */

  .grao {
    transform: rotate(90deg); /* Aplica a rotação no hover */
  }

  .text {
    transform: fontSize(1.2em); /* Aplica a escala no hover */
    color: #fff; /* Define a cor da fonte no hover */
  }
}
